<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oauth Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://localhost:8080/css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8080/css/style.css">
  </head>
  <body>

    <div class="container">	
      <h1>Below are all the mp4 files that you have in your drive account</h1>
      <hr>
      {{#each videos}}
      <div class="row">
        <div class="col-md-8">
          <video class="the_vid" controls>
            <source src="{{webContentLink}}" type="video/mp4">
            <source src="{{webContentLink}}" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-md-4">
          <h3>{{originalFilename}}</h3>
        </div>

          
          
      </div>
      <hr>
      {{/each}}
  	</div>
   	
  </body>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>